<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
</head>
<body>
<input name="Email" id="Email" placeholder="请输入绑定邮箱"  type="text"  class="layui-input" >
<hr class="hr15">
<input name="code" id="code" placeholder="请输入验证码"  type="text"  class="layui-input" >
<hr class="hr15">
<button  class="layui-btn" onclick=" sendcode()">
    发送邮件验证码
</button>
<button  class="layui-btn"  onclick="check()" >
    绑定
</button>
</body>
<script>
    function sendcode() {
        var Email = $("#Email").val()
        var re=/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/
        if (Email.length==0) {
            layer.open({
                title: '提示'
                , content: '请输入邮箱'
            });
        }else if(!re.test(Email)){
            layer.open({
                title: '提示'
                , content: '请输入正确的邮箱'
            });
        }
        else {
            $.ajax({
                url: "/user/sendemail",
                type: "post",
                data: {
                    "Email": Email
                },
                dataType: "json",//返回的数据类型
                success: function (data) {
                    layer.open({
                        title: '发送结果'
                        , content: data.info
                    });
                }

            })
        }
    }

    function check() {
        var code = $("#code").val()
        if(code.length==0){
            layer.open({
                title: '提示'
                , content: '请输入验证码'
            });
        }
        else{
            $.ajax({
                url: "/user/email",
                type: "post",
                data: {
                    "code": code
                },
                dataType: "json",//返回的数据类型
                success: function (data) {
                    layer.open({
                        title: '发送结果'
                        , content: data.info
                    });
                    if(data.info=="绑定成功"){
                        //刷新
                        var index = parent.layer.getFrameIndex(window.name);
                        console.log(index)
                        //刷新
                        parent.window.location.href=parent.window.location.href;
                    }
                }

            })
        }
    }



</script>
</html>