<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <style>
        body{
            background-image: url(images/back.jpg);
            background-repeat: no-repeat;
            background-size: 100%,100%;
        }
    </style>
</head>
<body>
<div class="one">
    <span style="width: 265px;height: 163px;color:#FFFFFF;font: 45px Roboto,sans-serif">Welcome to</span>
    <br>
    <span style="width:265px;height: 87px;color: #000000;font:55px Roboto,sans-serif">YYS Hotel</span>
    <br>
    <button class="layui-btn layui-btn-primary layui-btn-radius start">start</button>
</div>

</body>
</html>